<section class="details-container">
  <div class="back-btn">
    <p-button
      icon="pi pi-arrow-left"
      label="Go Back"
      styleClass="p-button-sm p-button-rounded p-button-secondary"
      (onClick)="goBack()"
    >
    </p-button>
    <p-button (click)="goRandom()">GO RANDOM</p-button>
  </div>

  @if(this.loading){
  <div class="spinner-container">
    <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
  </div>
  } @else { @if(cocktail()){
  <div class="details-card">
    <div class="header">
      <img
        [src]="cocktail().strDrinkThumb"
        [alt]="cocktail().strDrink"
        class="thumb"
      />
      <div class="info">
        <h2>{{ cocktail().strDrink }}</h2>
        <p class="category">
          {{ cocktail().strCategory }} · {{ cocktail().strAlcoholic }}
        </p>
        <p class="date">{{ cocktail().dateModified | date : "medium" }}</p>
      </div>
    </div>

    <div class="instructions">
      <h3>Instruciones</h3>
      <div class="language-toggle">
        <label for="langSelect">Selecionar Language:</label>
        <select
          id="langSelect"
          [value]="selectedLanguage()"
          (change)="onLanguageChange($event)">
          <option value="EN">English</option>
          <option value="ES">Español</option>
          <option value="FR">Français</option>
          <option value="IT">Italiano</option>
          <option value="DE">Deutsch</option>
        </select>
      </div>

      <p>{{ instructions() }}</p>
    </div>

    <div class="ingredients">
      <h3>Ingredientes ({{ ingredientes().length }})</h3>
      <ul>
        @for(ing of ingredientes(); track ing){
        <li><i class="pi pi-check-circle"></i> {{ ing }}</li>
        }
      </ul>
    </div>
  </div>
  } }
</section>
