@use 'variables' as *;;

.card {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.7);
  border-radius: 25px;

}

.product-table {
  min-width: 50rem;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  background: $color-bg;
  th {
    width: calc(100% / 6);
    text-align: left;
    padding: 0.75rem;
    color: $color-font;
    font-weight: 600;
  }

  td {
    padding: 0.75rem;
    vertical-align: middle;
    color: $color-font;
    transition: transform 0.2s ease, background 0.2s ease;
  }

  .td-click {
    cursor: pointer;
  }

  img.product-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1) rotate(-2deg);
    }
  }
}

.popover-content {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  background: $color-bg-secondary;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
  animation: popoverFade 0.25s ease-out forwards;

  @keyframes popoverFade {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .product-image-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;

    img.product-large {
      width: 11rem;
      @media (min-width: 640px) {
        width: 16rem;
      }
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
      }
    }

.inventory-tag {
  position: absolute;
  top: 12.90rem;
  left: 1.15rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: #bbb;
  color: $color-bg;
  box-shadow: 0 0 10px #bbb, 0 0 20px #bbb, 0 0 30px #bbb;
  text-shadow: 0 0 5px #000;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #bbb, 0 0 40px #bbb, 0 0 60px #bbb;
  }
}

.alcoholic {
  background: #0f0;  
  color: $color-bg; 
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0; // Green glow
  text-shadow: 0 0 5px #000;
  &:hover {
    box-shadow: 0 0 20px #0f0, 0 0 40px #0f0, 0 0 60px #0f0;
  }
}

.non-alcoholic {
  background: #4c9bb1; 
  color: $color-font;
  box-shadow: 0 0 10px #4c9bb1, 0 0 20px #4c9bb1, 0 0 30px #4c9bb1;
  text-shadow: 0 0 5px #000;
  &:hover {
    box-shadow: 0 0 20px #4c9bb1, 0 0 40px #4c9bb1, 0 0 60px #4c9bb1;
  }
}


  }

  .product-info {
    .title-section {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      margin-bottom: 1rem;

      .category {
        font-weight: 500;
        font-size: 0.875rem;
        color: #9ca3af;
        text-transform: uppercase;
        letter-spacing: 0.03em;
      }

      .name {
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 0.25rem;
        color: #f9fafb;
      }

      .rating {
        background: #374151;
        padding: 0.25rem;
        border-radius: 30px;
        .rating-inner {
          background: #1f2937;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          padding: 0.25rem 0.5rem;
          border-radius: 30px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.1);
          }

          .value {
            font-weight: 500;
            font-size: 0.875rem;
            color: #f9fafb;
          }
          i {
            color: #fbbf24;
          }
        }
      }
    }

    .actions {
      display: flex;
      gap: 0.5rem;
      justify-content: center;

      .favorite-button.disabled-button {
        opacity: 0.5;
        cursor: not-allowed;
        filter: grayscale(100%);
      }
    }
  }
}

.p-paginator-content-start {
  display: flex;

  p {
    margin: 0.5vw;
  }
}


