@if(newData().length > 0){
<div class="card">
  <p-table
    [value]="newData()"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="8"
    class="product-table"
  >
    <ng-template #header>
      <tr>
        <th style="width: 5%">ID</th>
        <th style="width: 5%">Imagen</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Tipo</th>
        <th style="width: 5%">Cantidad</th>
        <th>Fecha</th>
      </tr>
    </ng-template>
    <ng-template #body let-cocktail>
      <tr>
        <td class="td-click" style="width: 5%" (click)="goCocktail(cocktail)">
          {{ cocktail.idDrink }}
        </td>
        <td class="td-click" style="width: 5%" (click)="displayProduct($event, cocktail)">
          <img
            [src]="cocktail.strDrinkThumb + '/small'"
            [alt]="cocktail.image"
            class="product-image"
          />
        </td>
        <td>{{ cocktail.strDrink }}</td>
        <td class="td-click" (click)="openDialogImage()">{{ cocktail.strCategory }}</td>
        <td>{{ cocktail.strAlcoholic }}</td>
        <td class="td-click" style="width: 5%" (click)="openDialog(cocktail)">
          {{ countIngredients(cocktail) }}
        </td>
        <td>{{ cocktail.dateModified | date : "medium" }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <p>
        {{`Cantidad de Alcohlicas : ${amountstrAlcoholic().alcoholic}`}}
      </p>
      <p>
        {{`Cantidad de No Alcohlicas : ${amountstrAlcoholic().nonAlcoholic}`}}
      </p>
    </ng-template>
  </p-table>

  <p-popover #op (onHide)="selectedProduct = undefined">
    <ng-template #content>
      <div *ngIf="selectedProduct" class="popover-content">
        <div class="product-image-wrapper">
          <img
            class="product-large"
            [src]="selectedProduct.strDrinkThumb + '/medium'"
            [alt]="selectedProduct.strDrinkThumb"
          />
          <p-tag
            [value]="selectedProduct.strAlcoholic"
            [severity]="getSeverity(selectedProduct)"
            [ngClass]="{
              'inventory-tag': true,
              alcoholic: selectedProduct.strAlcoholic === 'Alcoholic',
              'non-alcoholic': selectedProduct.strAlcoholic !== 'Alcoholic'
            }"
          />
        </div>

        <div class="product-info">
          <div class="title-section">
            <div>
              <span class="category">{{ selectedProduct.strCategory }}</span>
              <div class="name">{{ selectedProduct.strDrink }}</div>
            </div>
          </div>

          <div class="actions">
            <p-button
              (click)="goCocktail(selectedProduct)"
              icon="pi pi-sparkles"
              [label]="'Detalles'"
              class="buy-button"
              (onClick)="hidePopover()"
            />
            <p-button
              icon="pi pi-youtube"
              outlined
              [ngClass]="{ 'disabled-button': !selectedProduct.strVideo }"
              class="favorite-button"
              [disabled]="!selectedProduct.strVideo"
              (onClick)="goToYoutube(selectedProduct.strVideo)"
            >
            </p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-popover>
</div>
}

<app-modal-ingredients></app-modal-ingredients>

<app-silder-images></app-silder-images>